// @import "antd/lib/style/index.less";
.content {
  margin: 0 auto;
}
body {
  background-color: #f0f2f5;
}
.header.ant-layout-header{
  color: #888888;
  margin-bottom: 25px;
  .logo {
      float: left;
      height: 62px;
      h1 {
          font-size: 1.70em;
          line-height: 62px;
          color: white;
      }
  }
}

.prev-next-nav {
  border-top: 1px solid #e9e9e9;
  padding: 1rem 0;
  margin: 1rem 0;
  .next {
    text-align: right;
    float: right;
  }
  .prev {
    text-align: left;
    float: left;
  }
}

.ant-card { 
  .ant-card-body {
    padding: 12px;
    text-align: center;
    .ant-card-meta-title {
      margin: 10px;
    }
    .ant-card-meta-description {
  
    }
  }
 
  .ant-card-cover .control {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../img/play.svg'); 
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  &:hover .ant-card-cover .control {
    opacity: 1;
  }

  &.active .ant-card-cover .control, .ant-card-cover .control.playing  {
    background-image: url('../img/stop.svg'); 
    background-size: 50% 50%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content {
    width: 540px;
  }
  .gutter-row {
    padding: 12px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .content {
  width: 720px;
 }
  .gutter-row {
    padding: 12px;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .content {
  width: 960px;
 }
  .gutter-row {
    padding: 12px;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .content {
  width: 1140px;
 }
  .gutter-row {
    padding: 12px;
  }
 }
