.tags-input div > * {
  line-height: 32px;
  height: 32px;
}

.ant-tag-text {
  margin-bottom: 2px;
}

.ant-upload.ant-upload-drag {
  max-width: 200px;
}
.cover {
  max-width: 160px;
  max-height: 160px;
}
